*  {

  margin: 0;
  padding: 0;

}

body {

  font-family: sans-serif;
  background-color: rgb(205, 205, 205);
 

}

a {

  text-decoration: none;
  color: white;
  font-weight: 900;

}

.cabeçalho {

  background-image:url(https://cdn.phenompeople.com/CareerConnectResources/prod/PHILUS/images/profile-blue-1553093239267.png);


}

.cabeçalho h1 {

  color: white;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;

}

.cabeçalho ul {

  background-color: black;

}

.cabeçalho li {
  
  display: inline;
  margin-left: 20%;

}